<% layout('layouts/boilerplate')%>
    <h1>All Venues</h1>
    <div>
        <a href="/venues/new">Add Venue</a>
    </div>
    <% for (let venue of venues){%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=venue.image%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= venue.title %>
                        </h5>
                        <p class="card-text">
                            <%= venue.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= venue.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/venues/<%=venue._id%>">View <%=venue.title %> </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>